body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 1px solid white;
  padding: 10px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
