body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}
#links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#links a {
  text-decoration: none;
  font-size: 30px;
  border: 1px solid black;
  margin-top: 10%;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: sandybrown;
  transition: 300ms ease-in-out;
}

#links a:hover {
  box-shadow: 5px 8px 5px 1px white;
}
