.area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: greenyellow;
  text-align: center;
}

.button {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

#grey {
  background-color: grey;
}
#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#cyan {
  background-color: cyan;
}
